.loginWrapper{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.loginContainer{
  border-radius: 5px;
  box-shadow: #8080806b 5px 5px !important;
}
  
.loginContainer > * {
   width: 100%;
}